drpdb.sdf
*.opensdf
.vs/drpdb/v14/.suo
drpdb/dia2.h
drpdb/dia2_i.c
drpdb/dia2_p.c
drpdb/dlldata.c
*.pdb
*.tlog
*.ilk
*.obj
x64/Release/temp/
x64/Debug/temp/
config/doc/in.txt
config/doc/out.txt
drpdb/Debug/NativeApp.log
drpdb/temp/
*.idb
*.user
x64/Release/drpdb.Build.CppClean.log
x64/Debug/mysqloutput.obj.enc
x64/Release/drpdb.ipdb
x64/Debug/drpdb.log
mysql-connector-c-6.1.6-winx64/bin/perror.exe
mysql-connector-c-6.1.6-winx64/bin/my_print_defaults.exe